<div class="jumbotron">
  <h2 translate>Internationalization - i18n</h1>
</div>

<div class="row marketing">
  <h3 translate>Why ?</h3>
  <p translate>
    When you are building a web application you will problably want to target as many users as you can, to do so, you must to be available globaly, but when it comes to the point of receiving foreing visitors you should make your website more friendly to them.
  </p>

  <h3 translate>How ?</h3>
  <p translate>
    You have a lot of options to translate your website, but today I will talk about <a href="https://angular-gettext.rocketeer.be/" target="_blank">angular-gettext</a>, the translator that we use here in Packdocs.
    By the way, AngularJs has support for <a href="https://docs.angularjs.org/api/ng/filter/currency" target="_blank">currency</a> and <a href="https://docs.angularjs.org/api/ng/filter/number" target="_blank">number</a> locale formating.
  </p>

  <h3 translate>When ?</h3>
  <p translate>
    You should start translating your website since the creation of it, but most of the time, on the begging you don't have time/hands to do it. The good new is that you can start doing it whenever you want.
  </p>  

  <h3 translate>Can I easily translate an existing app ?</h3>
  <p translate>
    Yes, using angular-gettext you can translate some parts of the site without any impact, it can also help you to find the texts that you haven't translated yet based on a configuration parameter.
  </p>
  <center><a href="/images/WithoutTranslate.jpg" target="_blank"><img src="/images/WithoutTranslate.jpg" height="200px" width="200px"></a></center>
  <p translate>
    Another option is use <a href="https://angular-gettext.rocketeer.be/dev-guide/extract/">angular-gettext</a> to extract all the words that are configured to be translated.
  </p>
  <p translate>
    You can use a tool called <a href="http://poedit.net/" target="_blank">Poedit</a> to translate each sentence.
  </p>
  <center><a href="/images/poedit.jpg" target="_blank"><img src="/images/poedit.jpg" height="200px" width="200px"></a></center>
  <p translate>
    You can change the current language on the header menu without reloading the page.
  </p>
</div>
